engine-strict=true
auto-install-peers=true
dedupe-peer-dependents=true
link-workspace-packages=true
prefer-workspace-packages=true
save-workspace-protocol=rolling
strict-peer-dependencies=false
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
